
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.AjaxGrid(Url.Action("TodoGrid"))



@using ToDoAndDiary.Model

@model List<TodoVm>

@(Html
    .Grid(Model)
    .Build(columns =>
        {
            columns.Add(model => model.Text);
            columns.Add(model => model.CreationDate);
            columns.Add(model => model.DueDate);

        }).MultiFilterable().Filterable().Sortable().Pageable(pager =>
    {
        pager.PagesToDisplay = 5;
    pager.RowsPerPage = 100;
}).Empty("Empty Data").Named("TodoGrid")
)