@using ToDoAndDiary.Model
@using GridMvc.Html

@model IEnumerable<TodoVm>


@{
    ViewBag.Title = "Index";
}

<h2>Todos</h2>
@Html.ActionLink("New", "Create", "Todo")

<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Text).Titled("Text").Filterable(true);
    columns.Add(c => c.CreationDate).Titled("Created At").Filterable(true);
    columns.Add(c => c.DueDate).Titled("Due At").Filterable(true);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.Id }));

}).WithPaging(3).Sortable(true)
</div>
